<ion-content class="auth-form">
  
    <ion-grid class="bg-login">
      <ion-row class="ce">
        <ion-col align-self-center>
          <h1>
            <span>INGRESAR <BR>CON</span>
    </h1>
          <ion-button [routerLink]="['/menu']" class = "ctalogin" color="primary">Facebook</ion-button>
            <h5>
          <span class="divider line one-line">o</span>
  </h5>
  
          <ion-button [routerLink]="['/menu']" class="ctalogin" color="danger">Gmail</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  
 
</ion-content>
